<div class="rol-bg">
  <div class="overlay"></div>

  <!-- Banner con logo -->
  <div class="rol-banner">
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h1>Bienvenido a AutoNova</h1>
  </div>

  <!-- Contenido principal -->
  <div class="rol-contenido">
    <h2>¿Cómo desea ingresar?</h2>
    <div class="rol-botones">
      <button (click)="irALogin('Administrador')">Administrador</button>
      <button (click)="irALogin('usuario')">Usuario</button>
      <button (click)="irALogin('registarse')">Resgistrarse</button>
    </div>
  </div>
</div>
