.menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-icon {
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 24px;
}

.menu-text {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}